body
{
    display: flex;
    background-color:var(--colordefondo1);
    
}
divo
{

    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}
secim{
    display: flex;
    justify-content: center;
}

