:root {
  --colordefondo1:rgba(254, 228, 197, 1);
  --colordefondo2:rgba(255, 255, 255, 1);
  --colordefondo3:rgba(248, 227, 182, 1);
  --colordefondo4:rgba(240, 175, 99, 1);
  --letra:'inter';
  
  
}

